credentials/

smartgarden.log

firebase_key.json

# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual Environment
.venv/

# Logs
logs/
*.log

# Ruff
.ruff_cache/

# VS Code
.vscode/

# macOS
.DS_Store
# SmartGarden private credentials
RaspberryPi/*_api_key.txt
RaspberryPi/*_client_token.txt

# SmartGarden logs
RaspberryPi/*.log
RaspberryPi/*.log.*
